body {
  background-color: rgb(250, 250, 250);
}

.itemlist-outer-wrapper{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.itemlist {
  padding: 20px;
}

.itemlist-inner-wrapper {
  padding: 5px;
  width: 500px;
}

.itemlist-item {
  padding-top: 10px;
  padding-bottom: 10px;

  border-width: .4em;
  border-top: solid;
  /* border-bottom: solid; */
  border-color: lightgray;

  font-size: 14px;

  cursor: pointer;
}


.itemlist-item:hover {
  background-color: rgb(245, 245, 245);
}

.itemlist-children {
  width: auto;
  /* padding-top: 10px; */
  padding-left: 20px;
}

.itemlist-child {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: left;
  margin-left: 0;

  border-top: solid;
  border-width: .4em;
  border-top: solid;
  /* border-bottom: solid; */
  border-color: lightgray;
  font-size: 12px;

}

.itemlist-child:hover{
  background-color: rgb(245, 245, 245);
}

.item-info-container {
  display: flex;
  flex-direction: row;
}

.itemlist-child {
  display: flex;
  flex-direction: row;
}

.itemlist-child-inner-div{
  display: flex;
}

.item-child-text {
  display: flex;
  padding-right: 10px;
  text-align: right;
  line-height: 26px;
}

.child-item-button-div {
display: flex;
flex-direction: row;
float: right;
margin-right: 15px;
margin-left: 20px;

}

.itemchild-button {
  width: 50px;
  height: 25px;
  margin-left: 5px;
}

.item-child-input {
  height: 26px;
}

.item-delete-button{
}

.top-banner {
  background-color: white;
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 150%;
  border-bottom: .5;
  border-style: solid;
  border-color: rgb(240,240,240);
}

.sidebar-wrapper {
  width: 250px;
  background-color: rgb(250, 250, 250);
}

.sidebar-item {
  width: 100%;
  font-size: 150%;
  border-top: 0;
  border-right: 1px;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgb(240,240,240);
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: black;
}

.sidebar-item:hover {
  background-color: rgb(245, 245, 245);
}

.main-window {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}